#01 주 데이터분석입문

In [3]:
import numpy as np
np.__version__

'1.26.4'

# 파이썬 기초
## 기본 자료용

In [4]:
type(1), type(3.5)

(int, float)

In [6]:
type([]),  type({1,1})

(list, set)

In [8]:
type({1:1, 2:4}), type([1, 2, 3])

(dict, list)

## 연산자

In [ ]:
3 ** 4, 10 % 4

## 내장함수

In [10]:
divmod(10, 3)

(3, 1)

In [11]:
int('30') + float('3.35')

33.35

In [13]:
chr(90), ord('a'), ord('가')

('Z', 97, 44032)

In [14]:
eval('3+4*5')

23

In [16]:
s = "py"
id(s)

140705620836960

## 표준입력

In [19]:
age =int( input('나이는 ?'))
age = 1

ValueError: invalid literal for int() with base 10: ''

### end of code