제어 흐름과 함수
==

> ## 조건
---

### 조건 if

In [1]:
n = 20
if n%2 == 0:
    print('짝수')

짝수

In [2]:
n = 21
if n%2 == 0:
    print('짝수')

### 조건 if else

In [3]:
age = 18
if age >= 20:
    print('성인')
else:
    print('미성년자')

미성년자

In [4]:
age = 21
if age >= 20:
    print('성인')
else:
    print('미성년자')

성인

### 한 줄 조건 구문 if else

In [5]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [6]:
age = 21
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

### 반복된 조건 if elif

In [8]:
point = 92
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

A

In [9]:
point = 62
if 90 <= point:
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

D

### match 구문

In [10]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana': 
        result = "바나나"

print(result)

사과

In [11]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana': 
        result = "바나나"

print(result)

바나나

In [12]:
value = "mango"

match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None
print(result)

None

> ## 반복
---

### 반복 for 문

In [16]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [15]:
num = [10, 20, 30, 40]
for i in num:
    print(i)

10
20
30
40

In [17]:
fruits = list(["apple", 2050, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2050
banana
500
mango
2000

### 반복 while 문

In [18]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1

print(sum)

55

> ## 함수 구현
---

### 함수 선언과 호출

* function_name: 이는 함수 정의 후 해당 함수를 호출하는 데 사용되는 함수 개체의 이름

* parameters: 매개변수라 부르며 함수를 호출할 때마다 괄호 아넹 배치되고 쉼표로 구분된 함수 정의의 변수로, 인수라고 불리는실제 값으로 설정

* function_body: 함수 구현 부분으로 함수의 기능을 수행, 함수 몸체라 부름

* return value: 옵션으로 함수를 수행한 수 반환되는 값

In [20]:
def hello():          #함수 hello의 선언구문
    print('Hello, Python!')

In [21]:
hello()

Hello, Python!

In [22]:
hello

In [23]:
type(hello)

function

In [24]:
def hi(one):
    print('안녕,', one)

In [25]:
hi('영희')

안녕, 영희

In [26]:
hi

In [27]:
str(hi)

'<function hi at 0x0000020A25E14900>'

### 함수 매개변수 기본 값

In [28]:
def hi(one = '친구들'):
    print('안녕,', one)

In [29]:
hi()

안녕, 친구들

In [30]:
hi('철수')

안녕, 철수

In [31]:
import math as m
def circle_area(r = 1):
    print(m.pi * r**2)

In [32]:
circle_area()

3.141592653589793

In [33]:
circle_area(4.5)

63.61725123519331

In [34]:
circle_area(r = 5.6)

98.5203456165759

In [35]:
print(circle_area(r = 7.2))

162.8601631620949
None

### return 구문과 함수 매개변수 지정

In [36]:
import math as m
def circle_area(r = 1):
    return m.pi * r**2

print(circle_area(r = 7.2))

162.8601631620949

In [52]:
def sum_sub(x, y):
    hap = x + y
    cha = x - y
    return hap, cha

In [53]:
sum_sub(10, 3)

(13, 7)

In [55]:
sum_sub(x = 10, y = 3)

(13, 7)

In [56]:
sum_sub(y = 3, x = 10)

(13, 7)

### lanbda익명 함수

In [58]:
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3, 4)        # m.sqrt() 제곱근

5.0